@import url("./el-reset.css");
@import url("./icon.scss");

html {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 14px;

  body {
    margin: 0;
    padding: 0;
    color: $font-color;
  }

  body.dark-theme {
    color: $dark-font-color;
  }
  
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  ul,
  li {
    margin: 0;
    padding: 0;
  }
  a {
    text-decoration: none;
  }
}

/*css文字省略*/
.ellipsis{
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
/* 最多显示两行的文字 */
.multi-ellipsis-2{
  display: -webkit-box;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}
/* 最多显示三行的文字 */
.multi-ellipsis-3{
  display: -webkit-box;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}