// 黑夜主题scss变量

$dark-font-color: #cccccc; // 全局默认字体颜色

// 侧边菜单栏
$dark-menu-bg: #252526;
$dark-menu-font-color: #ccc;
$dark-menu-logo-bg: #323233;
$dark-menu-item-hover: #333;
$dark-menu-item-active-coloe: #2b7bfb;

$dark-header-bg: #252526;
$dark-header-link-color: #9f9d99;
$dark-header-link-hover: rgba(255, 255, 255, 0.05);

$dark-tabs-container-bg:#323233;
$dark-tabs-bg: #3c3c3c;
$dark-tabs-font-color: #606266;
$dark-tabs-item-active-color: #2b7bfb;

$dark-layout-main: #1e1e1e;// 内容区背景色