// 白天scss变量

$font-color: #2c3e50; // 全局默认字体颜色

// layout 开始
$menu-bg: #e7eaed;
$menu-font-color: #7D7F8E;
$menu-logo-bg: #e7eaed;
$menu-item-hover: rgba(0,0,0,0.04);
$menu-item-active-coloe: #3D3C41;

$header-bg: #fff;
$header-link-color: #606266;
$header-link-hover: rgba(0, 0, 0, 0.025);

$tabs-container-bg:#f1f3f4;
$tabs-bg: #f1f3f4;
$tabs-font-color: #606266;
$tabs-item-active-color: #2b7bfb;

$layout-main: #fff;
// layout 结束
