<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jbj.jbjapi.mapper.AccountMapper">

    <select id="accountList" resultType="com.jbj.jbjapi.entity.AccountEntity">
        SELECT * FROM t_account
        <where>
            is_del = 0
            <if test="vo.account != null and vo.account != ''">
                AND account LIKE CONCAT('%',#{vo.account},'%')
            </if>
            ORDER BY create_time DESC
        </where>
    </select>
</mapper>
